.charges p,
.charges li {
  color: #666;
  font-size: 12px;
  line-height: 1.7;
}

.charges h5 {
  color: #424242;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.charges ul {
  padding-left: 18px;
  margin-bottom: 1rem;
}